.App-img-walking {
    position: absolute;
    float: left;
    z-index: 100;
    transition: all 100ms linear;
}

.App-grid {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg);
    top: -53px;
    left: 75px;
    position: absolute;
}

.App-grid-row {
    max-height: 52px; 
}
.App-grid-col {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid black;
}

.App-grid-0 {
    background: black;
    color: black;
}

.App-grid-1, .App-grid-2 {
    color: white;
}

.App-grid-3000 {
}